<form method="post" action="/post" class="well row form-inline center" style="text-align: center;">
	<div class="col-sm-10">
		<input type="text" class="col-md-8 input-lg form-control" name="post">
	</div>
	<button type="submit" class="pull-left btn btn-success">
		<i class="icon-comment icon-white"></i> 发言
	</button> 
</form>